.map-container {
    width: 90%;
    height: 90%;
    position: absolute;
}
.coordinates {
    color: #000;
    width: 30%;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
}
